{% extends "dashboarddashboardBundle::base.html.twig" %}

{% block body %}
<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Panneau d'administration</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>


            <form method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>

                <div class="form-group">
                    {{ form_label(form.titre, 'Titre : *') }}
                    {{ form_widget(form.titre,{'attr' : {'placeholder':'Saisissez votre titre','class':'form-control'}}) }}
                    {{ form_errors(form.titre) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.abstract, 'Extrait : *') }}
                    {{ form_widget(form.abstract,{'attr' : {'class':'form-control'}}) }}
                    {{ form_errors(form.abstract) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.content, 'Contenu : *') }}
                    {{ form_widget(form.content,{'attr' : {'class':'form-control tinymce'}}) }}
                    {{ form_errors(form.content) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.urlThumbnail, 'Image : *') }}
                    {{ form_widget(form.urlThumbnail,{'attr' : {'class':'form-control'}}) }}
                    {{ form_errors(form.urlThumbnail) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.status, 'Status : *') }}
                    {{ form_widget(form.status,{'attr' : {'class':'form-control'}}) }}
                    {{ form_errors(form.status) }}
                </div>


                <div class="form-group">
                    {{ form_label(form.date, 'Date : *') }}
                    {{ form_widget(form.date,{'attr' : {'class':'bam_accueilbundle_evenement_debut'}}) }}
                    {{ form_errors(form.date) }}
                </div>

                {{ form_widget(form._token) }}
                <p>
                    <input type="submit" value="Valider" class="btn btn-success"/>
                </p>
            </form>
    </div>
</div>




{% endblock %}