{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 thumbnail">
            {% if  news.urlThumbnail.fileName is defined and news.urlThumbnail.fileName != NULL %}
                {% set pictureUrl = asset("images/news/"~news.urlThumbnail.fileName) %}
            {% else %}
                {% set pictureUrl = '' %}
            {% endif %}
            <img src="{{ pictureUrl }}" alt="" class="img-responsive">

            <h1>{{ news.titre }}</h1>

            <div class="post_commentbox">
                <span><i class="fa fa-calendar"></i> {{ news.date | date('d M Y') }}</span>
            </div>
            <p> {{ news.content | raw }}</p>
            {% if news.commentaires is empty %}
            <p>Pas de commentaires pour le moment.</p>
            {% endif %}

            {% for commentaire in news.commentaires %}
            <div class="section__text">
                <h5>
                    {{ commentaire.username | title }} <span class="comment-info">- Envoyé le {{ commentaire.createAt.date | date('d M Y') }}</span>
                </h5>
                <p>{{ commentaire.contents }}</p>
            </div>
            {% endfor %}

            {% if userOnline == true %}
            <p>
                <small>Vous êtes connecté(e) en tant que : <strong>{{ app.user.username | title }}</strong> | <a href="{{ url('fos_user_security_logout') }}">Se déconnecter</a></small>
            </p>
            {{ form_widget(form.username, {'type': 'hidden', 'value': app.user.username} ) }}
            {% else %}

            {{ form_start(form, {'method': 'POST', 'attr': {'class': '' }}) }}
            <div class="form-group">
                {{ form_label(form.username, 'username : ') }}
                {{ form_widget(form.username,{'attr' : {'class':'form-control' }}) }}
            </div>
            {% endif %}
            <div class="form-group">
                {{ form_label(form.contents, 'contents : ') }}
                {{ form_widget(form.contents,{'attr' : {'class':'form-control' }}) }}
            </div>
            {{ form_widget(form.envoyer, {'label': 'Envoyer', 'attr': {'class': 'btn btn-primary' }}) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>



{% endblock %}