{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}
    


    <div class="col-lg-8 col-md-8 thumbnail">
    {% for posts in pagerfanta.currentPageResults %}
    {#{% for posts in results %}#}
        {%  if  posts.urlThumbnail.fileName is defined and posts.urlThumbnail.fileName != NULL %}
            {% set pictureUrl = asset("images/news/"~posts.urlThumbnail.fileName) %}
        {% else %}
            {% set pictureUrl = '' %}
        {%  endif  %}
        <div class="col-lg-12 col-md-12">

            <div class="col-lg-4 col-md-12 col-sm-12">
                <img src="{{ pictureUrl }}" alt="" class="img-responsive img-thumbnail" style="padding: 0;margin: 3% 3% 5% 0;" />
            </div>
            <h2>
                {{ posts.titre }}
            </h2>
            <p>
                {{ posts.abstract | raw  }}
            </p>
            <p>
                <a class="btn btn-info" href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">Lire la suite ...</a>
            </p>
            <p>Auteur : {{ posts.auteur }} - Publié le : {{ posts.date | date('d M Y') }}</p>
            <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 272 commentaire(s) réagissez</p>
        </div>
        <br>





    {% endfor %}

        {{ pagerfanta(pagerfanta, 'twitter_bootstrap3') }}







    </div>

    <aside class="col-md-4 content-col">
        <h2>
            A lire aussi
        </h2>
        <hr/>    
        <article>
        {% for posts in results %}
            <p>
                <a href="#"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> {{posts.titre}}</a>
            </p>
        {% endfor %}
        </article>
         
            <a class="twitter-timeline" href="https://twitter.com/ecolemultimedia" data-widget-id="628937769071583232">Tweets de @ecolemultimedia</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>


{% endblock %}