{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}
    <div class="fluid-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.719405928602!2d2.3526564999999997!3d48.863560799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1bb3b7aacf%3A0x8099174dec85e75c!2s201+Rue+Saint-Martin%2C+75003+Paris!5e0!3m2!1sfr!2sfr!4v1436391174085"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p class="mail"><i class="fa fa-map-marker"></i> &nbsp; 201 Rue Saint-Martin, 75003 Paris </p>
                <p class="mail"><i class="fa fa-phone-square"></i>&nbsp; 01 42 78 51 01 - ACCUEIL </p>
            </div>
            <div class="col-md-6 col-sm-6">
                <form action="{{ url('ElyceeBundle.default.contact') }}" method="post" {{ form_enctype(form) }} novalidate>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.nom, 'nom : ') }}
                            {{ form_widget(form.nom, {'attr' : {'class':'form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.prenom, 'prenom : ') }}
                            {{ form_widget(form.prenom,{'attr' : {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.email, 'email : ') }}
                            {{ form_widget(form.email,{'attr' : {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_label(form.message, 'message : ') }}
                            {{ form_widget(form.message,{'attr' : {'class':'form-control', 'cols': '3'} }) }}
                        </div>
                        {{ form_widget(form._token) }}
                        <input type="submit" class="btn btn-primary btn-lg btn-block btn-biru"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}