{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}
<div class="container">
{#<a href="">Retour</a>#}
<main class="col-md-12">
    {#{{ form(form) }}#}
    {#{{ dump(form) }}#}
    {#{{  form_start(form) }}#}
    <form method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>
        <p class="form-group">
            {{ form_label(form.titre, 'titre : ') }}
            {{ form_widget(form.titre,{'attr' : {'placeholder':'Saisissez votre nom','class':'form-control'}}) }}
            {{ form_errors(form.titre) }}
        </p>
        <p class="form-group">
            {{ form_label(form.abstract, 'Prénom : ') }}
            {{ form_widget(form.abstract,{'attr' : {'class':'form-control'}}) }}
            {{ form_errors(form.abstract) }}
        </p>
        <p class="form-group">
            {{ form_label(form.content, 'Email : ') }}
            {{ form_widget(form.content,{'attr' : {'class':'form-control'}}) }}
            {{ form_errors(form.content) }}
        </p>


        {{ form_widget(form._token) }}
        <p>
            <input type="submit" value="Valider" class="btn"/>
        </p>
    </form>
</div>

{% endblock %}