{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}

    <div class="row">
    {% for posts in results %}
        {%  if  posts.urlThumbnail.fileName is defined and posts.urlThumbnail.fileName != NULL %}
                      {% set pictureUrl = asset("images/news/"~posts.urlThumbnail.fileName) %}
                  {% else %}
                      {% set pictureUrl = '' %}
                  {%  endif  %}
        <div class="col-lg-5 col-sm-6">
            <div class="thumbnail">
                <a href="/template-overviews/creative" class="post-image-link">
                    <p>

                        <img src=" {{ pictureUrl }}" class="img-responsive" alt="" class="img-responsive"/>
                    </p>
                </a>

                <div class="caption">
                    <h2>
                        {{ posts.titre }}
                    </h2>

                    <p>
                        {{ posts.abstract }}
                    </p>

                    <p>

                        <a class="btn" href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">Lire la suite
                            ...</a>
                    </p>

                    <p>Auteur : <a href="{{ posts.auteur }}"></a> - Publié le :{{ posts.date | date('d M Y') }}</p>
                    <a href="#"

                    <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 272 commentaire(s) réagissez
                    </p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}


    <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
            <a href="#" class="post-image-link">
                <p><img src="http://lorempixel.com/400/200/" class="img-responsive" alt=""></p>
            </a>

            <div class="caption">
                <h3>toto</h3>
                <p>titi</p>
                <a href="#" class="btn btn-default">Lire la
                    suite ...</a>
            </div>
        </div>
    </div>


    <aside class="col-md-4 content-col">
        <h2>
            A lire aussi
        </h2>
        <hr style="width: 100%; height: 1px; background-color:#888;" />
        <p>
            <a href="#">-> Philae endormi</a> <br />
            <a href="#">-> Fusée Antares</a> <br />
        </p>

        <a class="twitter-timeline" href="https://twitter.com/LyceeSVSM" data-widget-id="621308517669076992">Tweets de @LyceeSVSM</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </aside>




{% endblock %}