{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}

    <div class="row">
    <div class="col-lg-8 col-md-8">
    {% for posts in results %}
        {% if  posts.urlThumbnail.fileName is defined and posts.urlThumbnail.fileName != NULL %}
            {% set pictureUrl = asset("images/news"~posts.urlThumbnail.fileName) %}
        {% else %}
            {% set pictureUrl = '' %}
        {% endif %}
        <div class="col-lg-6 col-md-6">
            <div class="thumbnail">

                    <p>
                        <a  href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">
                            <img src=" {{ pictureUrl }}" class="img-responsive" alt="" />
                        </a>
                    </p>


                <div class="caption">
                    <h2>
                        <a  href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">
                        {{ posts.titre }}
                            </a>
                    </h2>

                    <p>
                        {{ posts.abstract | raw }}
                    </p>

                    <p class="asideread">

                        <a class="btn btn-default btn-sm" href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">Lire la suite
                            ...</a>
                    </p>

                    <p>Auteur : <a href="{{ posts.auteur }}"></a> - Publié le :{{ posts.date | date('d M Y') }}</p>
                    <a href="#"

                    <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 272 commentaire(s) réagissez
                    </p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{#
    <div class="col-lg-3 col-sm-6">
        <div class="thumbnail">
            <a href="#" class="post-image-link">
                <p><img src="http://lorempixel.com/400/200/" class="img-responsive" alt=""></p>
            </a>

            <div class="caption">
                <h3>toto</h3>

                <p>titi</p>
                <a href="#" class="btn btn-default">Lire la suite ...</a>
            </div>
        </div>
    </div>#}


    <aside class="col-lg-4 col-md-4">
        <h2>
            A lire aussi
        </h2>
        <hr />
        <article>
    {% for posts in results %}
            <p>
                <a href="#"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> {{posts.titre}}</a>
            </p>

        {% endfor %}
        </article>
        <span class="tweetElycee">
            <a class="twitter-timeline" href="https://twitter.com/ecolemultimedia" data-widget-id="624516677254946816">Tweets de @ecolemultimedia</a>
        </span>
    </aside>




{% endblock %}