{% extends "ElyceeElyceeBundle::base.html.twig" %}

{% block body %}

    <div class="row">
    <div class="col-lg-8 col-md-8">
    {% for posts in results %}
        {% if  posts.urlThumbnail.fileName is defined and posts.urlThumbnail.fileName != NULL %}
            {% set pictureUrl = asset("images/news"~posts.urlThumbnail.fileName) %}
        {% else %}
            {% set pictureUrl = '' %}
        {% endif %}
        <div class="col-lg-6 col-md-6">
            <div class="thumbnail">
                    <p>
                        <a  href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">
                            <img src=" {{ pictureUrl }}" class="img-responsive" alt="" />
                        </a>
                    </p>
                <div class="caption">
                    <h2>
                        <a  href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">
                        {{ posts.titre }}
                        </a>
                    </h2>
                    <p>
                        {{ posts.abstract | raw }}
                    </p>
                    <p class="asideread">
                        <a class="btn btn-default btn-sm" href="{{ url('ElyceeBundle.default.actu', {'id': posts.id}) }}">Lire la suite...</a>
                    </p>
                    <p>Auteur : {{ posts.auteur }} - Publié le :{{ posts.date | date('d M Y') }}</p>
                    <p>
                        <a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 272 commentaire(s) réagissez</a>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <aside class="col-lg-4 col-md-4">
        <h2>A lire aussi</h2>
        <hr />
        <article>
        {% for posts in results %}
            <p>
                <a href="#"><span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> {{posts.titre}}</a>
            </p>
        {% endfor %}
        </article>
        <span class="tweetElycee">
            <a class="twitter-timeline" href="https://twitter.com/ecolemultimedia" data-widget-id="624516677254946816">Tweets de @E-Lycée</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </span>
    </aside>
{% endblock %}