{% extends "dashboarddashboardBundle::base.html.twig" %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Création d'une nouvelle question</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <span class="alert alert-success">{{ flashMessage }}</span>
            {% endfor %}

            <form method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>

                <div class="form-group level">
                    {{ form_label(form.titre, 'titre : ') }}
                    {{ form_widget(form.titre,{'attr' : {'placeholder':'Saisissez un titre à afficher','class':'form-control'}}) }}
                    {{ form_errors(form.titre) }}
                </div>


                <div class="form-group level">
                    {{ form_label(form.content, 'contenu : ') }}
                    {{ form_widget(form.content,{'attr' : {'placeholder':'Saisissez un contenu à afficher','class':'form-control'}}) }}
                    {{ form_errors(form.content) }}
                </div>

             {#   <ul class="tags" data-prototype="
{% filter escape %}
{{ include('dashboarddashboardBundle:inc:choices-prototype.html.twig', { 'form': form.choices.vars.prototype }) }}
{% endfilter %}
">
                </ul>#}

                <ul class="choices list-group" data-prototype="{{ form_widget(form.choices.vars.prototype)|e }}">
                </ul>
                <a href="#" role="button" class="btn btn-primary add_choice_link"><i class="fa fa-plus"></i>Ajouter une réponse</a>





                {{ form_widget(form._token) }}

                <p>
                    <input type="submit" value="Valider" class="btn btn-success"/>
                </p>
            </form>
        </div>
    </div>




{% endblock %}