{% extends "dashboarddashboardBundle::base.html.twig" %}

{% block body %}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Création d'une nouvelle fiche</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <span class="alert alert-success">{{ flashMessage }}</span>
            {% endfor %}


            {% if  app.session.get('idfiches')  %}
                {{ app.session.get(idfiches) }}
            {% endif %}


            <form method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>

                <div class="form-group">
                    {{ form_label(form.title, 'Titre du Quizz : ') }}
                    {{ form_widget(form.title,{'attr' : {'placeholder':'Saisissez le titre du Quizz','class':'form-control' }}
                    ) }}
                    {{ form_errors(form.title) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.matiere, 'matieres : ') }}
                    {{ form_widget(form.matiere,{'attr' : {'placeholder':'Saisissez la matiere','class':'form-control' }}
                    ) }}
                    {{ form_errors(form.matiere) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.content, 'Question : ') }}
                    {{ form_widget(form.content,{'attr' : {'class':'form-control' }}) }}
                    {{ form_errors(form.content) }}
                </div>
                <div class="form-group level">
                    {{ form_label(form.classes, 'Classes : ') }}
                    {{ form_widget(form.classes,{'attr' : {'class':'form-control tinymce' }}) }}
                    {{ form_errors(form.classes) }}
                </div>

                <div class="form-group level">
                    {{ form_label(form.status, 'Status : ') }}
                    {{ form_widget(form.status,{'attr' : {'class':'form-control tinymce' }}) }}
                    {{ form_errors(form.status) }}
                </div>

                <div class="form-group level">
                    <label for="nbr"> </label>
                    {{ form_label(form.nbr, 'Choisissez un nombre de question : ') }}
                    {{ form_widget(form.nbr,{'attr' : {'class':'form-control tinymce' }}) }}
                    {{ form_errors(form.nbr) }}

                </div>

                {#  <p>
                    {{ form_widget(form._token) }}
                    {% if app.session.get('nbr') == 1 %}
                        {{ form_widget(form.valider,{'attr' : {'class':'btn pull-right btn-default' }}) }}
                    {% else %}
                        {{ form_widget(form.continuer,{'attr' : {'class':'btn pull-right btn-default' }}) }}
                    {% endif %}
                </p>


                {#   <ul class="questions" data-prototype="
             {% filter escape %}
               {{ include('dashboarddashboardBundle:inc:questions-prototypes.html.twig', { 'form': form.questions.vars.prototype }) }}
             {% endfilter %}
           ">
                   </ul>#}

                {{ form_widget(form._token) }}

                <p>
                    <input type="submit" value="Valider" class="btn btn-success btn-primary-admin"/>
                </p>
            </form>
        </div>
    </div>




{% endblock %}