<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Le site du E-Lycée">
    <meta name="author" content="E-Lycée">


    <title>{% block title %}Accueil{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,700italic,300italic,300,400italic' rel='stylesheet' type='text/css'>
        <link href="{{ asset('css/bootstrap-social.css') }}" rel="stylesheet" >
        <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" >
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" >
        <link href="{{ asset('css/lelycee-page.css') }}" rel="stylesheet" >
    {% endblock %}




</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            {% include 'ElyceeElyceeBundle::inc/menu.html.twig' %}

         <body>
            {% block body %}

            {% endblock %}

            {% include 'ElyceeElyceeBundle::inc/footer.html.twig' %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.4&appId=1434471260107201";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


{% endblock %}

            


</body>
</html>
