<form method="POST" {{ form_enctype(form) }} class="form-horizontal" novalidate>

	<div class="form-group level">
	    {{ form_label(form.titre, 'titre : ') }}
	    {{ form_widget(form.titre,{'attr' : {'placeholder':'Saisissez un titre à afficher','class':'form-control'}}) }}
	    {{ form_errors(form.titre) }}
	</div>


	<div class="form-group level">
	    {{ form_label(form.content, 'contenu : ') }}
	    {{ form_widget(form.content,{'attr' : {'placeholder':'Saisissez un contenu à afficher','class':'form-control'}}) }}
	    {{ form_errors(form.content) }}
	</div>

	<ul class="tags" data-prototype="
	{% filter escape %}
	{{ include('dashboarddashboardBundle:inc:choices-prototype.html.twig', { 'form': form.choices.vars.prototype }) }}
	{% endfilter %}
	">
	</ul>
</form>

<br/><br/><br/>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam error itaque? Architecto consectetur culpa facilis maiores nobis, quam voluptate! Aperiam cumque facere inventore itaque labore minima officia optio repellat.</p>







