
<div class="form-group level">
    {{ form_label(form.titre, 'titre : ') }}
    {{ form_widget(form.titre,{'attr' : {'placeholder':'Saisissez un titre à afficher','class':'form-control'}}) }}
    {{ form_errors(form.titre) }}
</div>




<div class="form-group level">
    {{ form_label(form.content, 'contenu : ') }}
    {{ form_widget(form.content,{'attr' : {'placeholder':'Saisissez un contenu à afficher','class':'form-control'}}) }}
    {{ form_errors(form.content) }}
</div>






